.main-app{
  font-size: 1.2em;
  padding: 2rem 4rem;
  /* background-color: #F2F2F2; */
}

h1{
  font-size: 2em;
  text-align: center;
  margin : 2rem auto 4rem;
}

h2{
  font-size: 2em;
  margin : 5rem auto;
}

h3{
  font-size: 2rem;
}

.tabs{
  display:flex;
}

.wrapper-select-slider{
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  box-shadow: 5px 5px 5px #d9d9d9;
  background-color: white;
  text-align: center;
}

.wrapper-select{
  width: 40%;
  display:flex;
  align-items: center;
}

#yearChoice{
  width: 30%;
  margin-left: 2rem;
}

.wrapper-slider{
  width: 40%;
  display: flex;
  align-items: center;
}

#iaThreshold{
  margin-left: 2rem;
}

.jsx-3468109796.tab.tab--selected, .jsx-4017309047.tab-content {
  background-color: #F2F2F2;
  padding: 2rem;
}

.main{
  display:flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.map{
  width: 65%;
}

.card_graph{
  box-shadow: 5px 5px 5px #d9d9d9;
  background-color: white;
  padding: 1rem;
  text-align: center;
}

.wrapper_pop{
  display:flex;
  justify-content: space-between;
}

.pop_donut{
  width: 100%;
  box-shadow: 5px 5px 5px #d9d9d9;
  background-color: white;
  text-align: center;
}

.card_pop > .div1 {
  padding: 5px 20px;
  width : 90%;
}

.card_pop > .div2 {
  background-color: #1f78b4;
  padding: 20px;
  width: 10%;
}

#population, #foyers{
  font-size: 3rem;
}

.card_pop{
  display: flex;
  margin-bottom : 2rem; 
  box-shadow: 5px 5px 5px #d9d9d9;
  background-color: white;
  text-align: center;
  width: 48%;
}

.stats {
  width :30%;
}